```
1. What are data structures, and why are they important?
A. Data structures are specialized way of organizing,storing and managing
   data. operations like searching, inserting, updating, deleting can be
   performed efficiently
   built-in data structures
   1.List - ordered, mutable and allow duplicates
   2.Tuple - ordered, immutable and allow duplicates
   3.Set - unordered, mutable, no duplicates
   4.Dictionary- key-value paris, mutable
```
```
2.Explain the difference between mutable and immutable data types with
  examples?
A. mutable: Content can be modified (elements can be added,
   removed, or changed) without creating a new object.
   data types are - List, Set, Dictionary
    Example:
           my_list = [1, 2, 3]
           my_list[0] = 100
           print(my_list)   

           //output: [100,2,3]


   immutable data types: content can't be modified. Any change creates new object in memory
       data types are - String, Tuple is immutable type
   examples:
  1)  my_tuple = (1, 2, 3)
      my_tuple[0] = 100  # output: error object is unassigned

  2)  my_string = "Yamuna"
      new_string = my_string.replace("Y", "J")
      print(my_string)   # "Yamuna" (unchanged)
      print(new_string)  # "Jamuna" (new object)     
```

```
3. What are the main differences between lists and tuples in Python?
A. List: 1) List is mutable(best for data changeable)
         2) List data type defined using []
         3)methods available like append(),extend(), insert(), remove(),pop(), del, etc
         4)example: my_list = [1,2,3]
          my_list.append(4)
          print(my_list) // [1,2,3,4]
   Tuple: 1) Tuple is immutable(best for data is fixed)
          2) Tuple data type defined using ()
          3)Limited methods are available like count(), index()
          4)example: my_tuple = (1,2,3,"Hello", "4.5", "true")
           print(my_tuple[3]) # Hello
```

```
4. Describe how dictionaries store data?
A. dictionaries store data in key value pair .Each entry has key(unique identifier) and a value associated data. key must be unique and immutable types. values can be of any data type (mutable)
python implement dictionaries using hash table which make lookups, insertions and deletions are very fast.
example:
sensor_reading = {"machine_id":1234,"temprature": "24 deg F", "humidity":""cloudy}
print(sensor_reading) //{"machine_id":1234,"temprature": "24 deg F", "humidity":""cloudy}
```

```
5. Why might you use a set instead of a list in Python3?
A. I use a set instead of a list
    i)when I need unique elements
    ex:- numbers = {1,2,2,2,3,4,5}
         print(numbers) # {1,2,3,4,5}
    ii) faster lookups
       ex: set_numbers = {1,2,3,4,5}
           print(5 in set_numbers) # when searching element  it will be faster because set using hasing
           list_numbers = [1,2,3,4,5]
           print(5 in list_numbers) # when searching element  it will be slow
    iii) to perform set operations like union and intersection, difference   
        which are not directly available in the list
   
```

```
6. What is a string in Python, and how is it different from a list?
A. string:
   i) A string is a sequence of characters enclosed in single qoute(')
   or double qoute(") or triple qoutes(''')/ (""") .
   ii)string is an immutable
   iii)memory efficient and fixed data
   iv)example:- my_string= "Hello Python 3.7"
   
   list:
   i) List can be sequence of elements and can be of any data type
   ii) It is mutable. we can modify elements using add, remove
   iii)It is Flexible but consume more mempry
```

```
7. How do tuples ensure data integrity in Python?
A. Tuples ensure data integrity because they are immutable in Python.Once tuple
   is created it values can't be changed,added or removed. here data remains constant, prevent accidental changes
   
  example: coordinates = (20.1,23.2,29.6)
  coordinates[0]= 20.0 # error
  print(coordinates) # 20.1,23.2,29.6
```
```
8. What is a hash table, and how does it relate to dictionaries in Python?
A. A hash table is a data structure that stores data in the key value pairs
   using a hashing function. The hash fucntion converts a key in to hashavalue (index), In the hash index the value will be stored in the memory
   --> It allows fast lookups, insertions and deletions (O(1) on average)

```
```
9. Can lists contain different data types in Python?
A. Yes, List contain different data types because it is heterogeneous
   collections.
   * Elements can be integers, strings, floats, booleans, or even other
     lists/objects.
   * This flexibility comes from Python’s dynamic typing

   ex:- my_list = [1,"Hello", 3.14, "3+4j", [1,2,3]]
```

```
10. Explain why strings are immutable in Python?
A. Strings in python are immutable means once created their content can't be
   changed. Any modification creates a new string object will be created instead of changing old one. It ensures data integrity, consistent hasing, memory efficiency interning

   eg: str = "python"
     new_str = str.replace("p", "P")
     print(str) # python
     print(new_str) # Python
```

```
11. What advantages do dictionaries offer over lists for certain tasks?
A. Dictionaries offers more advantages than list
   1.Fast lookups
    --> Dictionaries uses hash table, so searching of key is O(1)
    -->In list requires scanning of each and every element O(n)
    ex: students_list = {"id": 523, "name": "yamuna", "email": "yamuna@krify.com"}
     print(students_list['id']) # retrives value data very fast O(1)
   2.Key-Value mapping
    --> Dictionaries allows you to map unique keys to values
    -->List only access via index number
  3.Flexibility of keys
    --> Dictionaries keys can be any types (string,number, tuples, list )
    -->List are limited to numeric indices
```

```
12. Describe a scenario where using a tuple would be preferable over a list?
A.  Tuples are useful for representing fixed, read-only data such as database
    rows, coordinates. Their immutability ensures data integrity, which make them safer than list

    scenario:
    1) coordiantes of location
     coordinates = (72.6139, 80.2090)  # XYZ location

     --> coordinates[0] = 23.34324 # it will not allowed to
     change that value

    2)DAYS_OF_WEEK = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")
      days of week is alos fixed in this case also tuple is preferable

   ** For performance wise very large collections of data that do not change, tuples are faster and more memory-efficient than lists.

```

```
13. How do sets handle duplicate values in Python?
A.  In Python set is a unordered collection of unique elements. Even if you add
    duplicate values to set it will take only copy and avaoid duplicates. This behaviour is accepted because of it stores data in the hash tables where each element is stored based on hash value

    nums = {1,2,3,4,4,5,2}
    print(nums) # {1,2,3,4,5}
```

```
14. How does the “in” keyword work differently for lists and dictionaries?
A. List:
     --> The in keyword checks if a value exists as an element in the list.
     --> It performs a linear search time complexity O(n)
     ex:
         student_names = ["anusha", "yamuna", "divya"]
         print('yamuna' in student_names) # True
         print('isha' in student_names) # False
    
   Dictionaries:
      -->The in keyword checks key exists in dictionary not the value
      -->It uses hash table lookups and time complecity O(1)
      ex: student_info = {"id": 1, "name": "XYZ"}
           print('id' in student_info) #  returns the value 1
           print('XYZ' in student_info) # False

           we can also check values from dictionary
           print('XYZ' in student_info().values) # True O(n)

```

```
15. Can you modify the elements of a tuple? Explain why or why not?
A. No, elements of a tuple cannot be modify because tuples are immutable which
   means once tuple is created, its contents cann't be changed

   ex: t = (1,2,3,4)
       t[0] = 100 # it throws error
  
   --> Here Tuple is immutable but we can have mutable objects like list or dictionaries. here we can't change tuple structure but mutable object can be modified

   ex: tuple_mutable_object = (1,[2,3], 4)
       tuple_mutable_object[1][0]= 6 # Allowed to modified
       print(tuple_mutable_object) # (1,[6,3],4)
```

```
16. What is a nested dictionary, and give an example of its use case?
A. A nested dictionary is dictionary that contain another dictionary as value
   It allow as to represent hierarical data structure
    
   ex:
   student_info = {
    1: {"name": "yamuna", "age": 29, "email": "xyz@gmail.com"},
    2: {"name": "isha", "age": 2, "email": "yzz@gmail.com"},
    3: {"name": "krishna", "age": 29, "email": "zxy@gmail.com"}
   }
   print(student_info[1]['name']) # yamuna

```

```
17. Describe the time complexity of accessing elements in a dictionary?
A. O(1) is the average time complexity of accessing elements in a dictionary
   becuse it stores the data in the hash table where key is hased to find index
   directly.So, lookups, insertions, deletions are generally very fast

```

```
18. In what situations are lists preferred over dictionaries?
A. Lists are preferred when data is ordered, needs to be accessed by index,
   can contain duplicates, or when a simple sequence is required without key–value mapping

```
```
19. Why are dictionaries considered unordered, and how does that affect data
    retrieval?
A. -->Dictionaries are unordered because they store data using hashing not
   positions
   --> You can access items using keys intead of index like list
   -->Retrieval is fast O(1)
   -->From 3.7 version of python insertion ordered is preserved but still dictionary mainly about key based access not sequence

   it affect data retrieval
   1) access data by hash value of keys not by index
   2)Iteration order may not order logically
```
```
20. Explain the difference between a list and a dictionary in terms of data
    retrieval.
A.  List:
     --> Retriving data form list using index(order matters here)
     --> It performs a linear search time complexity O(n)
     ex:
         number_list = [100,102,104]
         number_list[0] # 100
    
   Dictionaries:
      --> Retriving data form Dictionary using key-value based(order doesn't matter only key matters)
      -->It uses hash table lookups and time complecity O(1)
      ex: student_info = {"id": 1, "name": "XYZ"}
           print(student_info['id']) #  returns the value 1
          
```

# Practical Questions

In [1]:
#1 .Write a code to create a string with your name and print it
name = "Yamuna"
print(name)

Yamuna

In [2]:
#2. Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str)) # including space it will calculate the lenght

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

slice_str = "Python Programming"
print(slice_str[0:3])

Pyt

In [6]:
#4. Write a code to convert the string "hello" to uppercase
upper_str = "hello"
print(upper_str.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

my_str = "I like apple"
replace_str = my_str.replace('apple', 'orange')
print(replace_str)

I like orange

In [9]:
#6. Write a code to create a list with numbers 1 to 5 and print it
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [10]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a_list = [1,2,3,4]
a_list.append(10)
a_list

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
r_list = [1,2,3,4,5]
r_list.remove(3)
print(r_list)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a_list = ['a', 'b','c', 'd']
print(a_list[1])

b

In [18]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
reverse_list =  [10, 20, 30, 40, 50]
reverse_list.reverse()
print(reverse_list)

#without reverse function
print([10, 20, 30, 40, 50][::-1])

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [19]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [20]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a_t_list = ('red', 'green', 'blue', 'yellow')
print(a_t_list[-2])

blue

In [22]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
m_tuple = (10, 20, 5, 15)
print(min(m_tuple))

5

In [23]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals_tuple = ('dog', 'cat', 'rabbit')
print(animals_tuple.index('cat'))

1

In [24]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_tuple = ('kiwi', 'Avacado', 'dragon')

if 'kiwi' in fruits_tuple:
    print("Kiwi in fruits list")
else:
    print("Kiwi not in fruits list")

Kiwi in fruits list

In [28]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
alphabets_set = {'a', 'b', 'c', 'a'}
print(alphabets_set)

{'c', 'a', 'b'}

In [31]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1,2,3,4,5}
my_set.clear() # it will clear only the elements
print(my_set)

set()

In [32]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4) # remove element by value
print(my_set)

{1, 2, 3}

In [33]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [34]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2)) # 2,3 are common values in both tables

{2, 3}

In [35]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {"name": "Yamuna", "age": 29, "city": "Kakinada"}
print(my_dict)

{'name': 'Yamuna', 'age': 29, 'city': 'Kakinada'}

In [50]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
#1st way
personal_info = {'name': 'John', 'age': 25}
personal_info['country'] = 'Kakinada'
print(personal_info)

#2nd way
personal_info1 = {'name': 'yamuna', 'age': 29}
personal_info1.update({'country': 'Kakinada'})
print(personal_info1)

#3rd way - only add if key doesn't exits
personal_info2 = {'name': 'yamuna', 'age': 29}
personal_info2.setdefault('country', 'Kakinada')
print(personal_info2)

#4th way creates a new dictionary
personal_info3 = {'name': 'yamuna', 'age': 29}
personal_info3 = { **personal_info3,'country':'Kakinada'}
print(personal_info3)

{'name': 'John', 'age': 25, 'country': 'Kakinada'}
{'name': 'yamuna', 'age': 29, 'country': 'Kakinada'}
{'name': 'yamuna', 'age': 29, 'country': 'Kakinada'}
{'name': 'yamuna', 'age': 29, 'country': 'Kakinada'}

In [43]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
personal_info = {'name': 'Alice', 'age': 30}
print(personal_info['name'])

Alice

In [44]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
personal_info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
personal_info.pop('age')
print(personal_info)

{'name': 'Bob', 'city': 'New York'}

In [48]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

personal_info = {'name': 'Alice', 'city': 'Paris'}
if 'city' in personal_info: #Only with key value need to check
    print("City is present")
else:
    print("City is not present")

City is present

In [49]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4,5,2,2.0, "python", True, [10,20,30]]
print(list)

tuple = (1,2,3,4,5,2,2.0, "python", True, [10,20,30])
print(tuple)

dict = {"name": "Yamuna", "age": 29, "city": "Kakinada"}
print(dict)

[1, 2, 3, 4, 5, 2, 2.0, 'python', True, [10, 20, 30]]
(1, 2, 3, 4, 5, 2, 2.0, 'python', True, [10, 20, 30])
{'name': 'Yamuna', 'age': 29, 'city': 'Kakinada'}

In [55]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = random.sample(range(1,101), 5)
random_numbers.sort()
print(type(random_numbers))
print(random_numbers)

<class 'list'>
[8, 10, 14, 52, 72]

In [56]:
#28.  Write a code to create a list with strings and print the element at the third index.
str_list = ['ganga', 'yamuna', 'krishna', 'godavari', 'kaveri']
print(str_list[3])

godavari

In [62]:
#29.  Write a code to combine two dictionaries into one and print the result.
#1 way
dict1 = {'a':1, 'b':2}
dict2 = {'c':3, 'd':4}
combine_dict = dict1.copy()
combine_dict.update(dict2)
print(combine_dict)

#2nd way
combine_dict1 = { **dict1, **dict2}
print(combine_dict1)

#3rd way
combine_dict2 =dict1 | dict2
print(combine_dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [63]:
#30. Write a code to convert a list of strings into a set.
str_list = ['ganga', 'yamuna', 'krishna', 'godavari', 'kaveri']
str_set = set(str_list)
print(str_set)

{'krishna', 'ganga', 'kaveri', 'yamuna', 'godavari'}